.mainContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding-top: 2em;
    /*background: white;*/

}

.projectItems {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    grid-gap: 2em;
}

.projectItems > a {
    text-align: center;
    background-color: #d1e0d5;
    color: black;
    font-weight: normal;
}

.card {
    background: white;

}

.card:hover {
    background: #0da624;

}
.card-image {
    padding-top: 10px;   
}
.content {
    margin-bottom: 10px;
    font-family: sans-serif;
}

.title {
    font-family: montserrat-bold;
    font-weight: bold;
}


@media screen and (max-width: 1600px) {
    .projectItems {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 800px) {
    .projectItems {
        grid-template-columns: 1fr;

    }

    .content {

        font-size: 80%;
    }

    .title.is-4 {
        font-size: 1em;
    }
}